<a href="https://colab.research.google.com/github/ManojKumarTiwari/Tensorflow2AndKeras/blob/master/ann_california_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import

In [2]:
import tensorflow as tf
from tensorflow import keras
print(tf.__version__)
print(keras.__version__)

2.2.0
2.3.0-tf

In [0]:
# dataset
from sklearn.datasets import fetch_california_housing

# model
from tensorflow.keras import Sequential
# layer
from tensorflow.keras.layers import Dense
# activation
from tensorflow.keras.activations import relu
# optimizer
from tensorflow.keras.optimizers import Adam
# loss
from tensorflow.keras.losses import mean_squared_error
# metics
from tensorflow.keras.metrics import RootMeanSquaredError

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# load the data

In [11]:
dataset = fetch_california_housing()

Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to /root/scikit_learn_data

In [18]:
dataset

{'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block\n        - HouseAge      median house age in block\n        - AveRooms      average number of rooms\n        - AveBedrms     average number of bedrooms\n        - Population    block population\n        - AveOccup      average house occupancy\n        - Latitude      house block latitude\n        - Longitude     house block longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttp://lib.stat.cmu.edu/datasets/\n\nThe target variable is the median house value for California districts.\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n',
 'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])}

In [0]:
df = pd.DataFrame(dataset.data)

In [14]:
df.head()

        0     1         2         3       4         5      6       7
0  8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1  8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2  7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3  5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4  3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25

In [17]:
target = pd.DataFrame(dataset.target)
target.head()

       0
0  4.526
1  3.585
2  3.521
3  3.413
4  3.422

# data splitting

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.2, random_state=42)

In [0]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# standardization

In [0]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

In [0]:
X_valid = sc.transform(X_valid)
X_test = sc.transform(X_test)

In [24]:
X_train.shape

(13209, 8)

In [25]:
X_train.shape[1]

8

# build an ann

In [0]:
model = Sequential()
model.add(Dense(30, relu, input_shape=[X_train.shape[1]]))
model.add(Dense(1))

In [27]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 30)                270
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 31
=================================================================
Total params: 301
Trainable params: 301
Non-trainable params: 0
_________________________________________________________________

# compile the model

In [0]:
model.compile(optimizer='adam', loss=mean_squared_error)

# train the model

In [32]:
history = model.fit(X_train, 
                    y_train, 
                    batch_size=128, 
                    epochs=10,
                    validation_data=(X_valid, y_valid)
                    )

Epoch 1/10
104/104 [==============================] - 0s 2ms/step - loss: 0.7260 - val_loss: 0.7160
Epoch 2/10
104/104 [==============================] - 0s 2ms/step - loss: 0.6395 - val_loss: 0.6291
Epoch 3/10
104/104 [==============================] - 0s 2ms/step - loss: 0.5671 - val_loss: 0.5613
Epoch 4/10
104/104 [==============================] - 0s 2ms/step - loss: 0.5104 - val_loss: 0.5064
Epoch 5/10
104/104 [==============================] - 0s 2ms/step - loss: 0.4685 - val_loss: 0.4724
Epoch 6/10
104/104 [==============================] - 0s 2ms/step - loss: 0.4393 - val_loss: 0.4509
Epoch 7/10
104/104 [==============================] - 0s 2ms/step - loss: 0.4185 - val_loss: 0.4364
Epoch 8/10
104/104 [==============================] - 0s 2ms/step - loss: 0.4047 - val_loss: 0.4258
Epoch 9/10
104/104 [==============================] - 0s 2ms/step - loss: 0.3951 - val_loss: 0.4217
Epoch 10/10
104/104 [==============================] - 0s 2ms/step - loss: 0.3872 - val_loss: 0.4109

# evaluate

In [33]:
model.evaluate(X_test, y_test)

129/129 [==============================] - 0s 1ms/step - loss: 0.4014

0.4014226794242859

# predict

In [0]:
X_new = X_test[:3]

In [0]:
pred = model.predict(X_new)

In [36]:
pred

array([[0.5756026],
       [1.7315385],
       [3.3467853]], dtype=float32)

In [38]:
y_test[:3]

             0
20046  0.47700
3024   0.45800
15663  5.00001